body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HOME PAGE */
#home {
  height: 100vh;
  background-image: url("all.png");
  background-size: cover;
  background-position: center;

  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

button {
  padding: 12px 25px;
  font-size: 28px;
  
  cursor: pointer;
}

/* QUIZ PAGE */
#quiz {
  display: none;
  padding: 50px;
  text-align: center;
  border-radius: 15px;
  max-width: 700px;
  margin: 50px auto;
  background: rgba(0, 0, 0, 0.45);
  font-size: 28px;
  font-weight: 600;
  color: #d2b48c;
}

.question-bg {
  background-image: url("bg.png");   /* your image */
  background-size: cover;            /* makes image fit screen */
  background-position: center;       /* centers image */
  background-repeat: no-repeat;      /* only one image, no tiling */
  min-height: 100vh;                 /* full screen height */
}
#character {
  font-size: 36px;
  font-weight: 700;
  color: #2b2b2b;          /* dark text */
  text-align: center;
  margin-top: 40px;

  /* white shadow */
  text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.8);
}